
@{
    ViewBag.Title = "Welcome Home";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="table-responsive">
    <table class="table table-bordered">
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
        <tr>
            <td>1</td>
            <td>ABCD</td>
            <td>Pune</td>
        </tr>
    </table>

</div>

@section upper{
    <h1>This is content from Index for Upper Section</h1>
}

@section terms{
    Terms and conditions from Home Page    
}
